.starIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.starPath {
    stroke: orange;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: transparent;
    transition: fill 0.3s;
}

.starIcon:hover .starPath {
    fill: orange;
}

.starIconActive {
    fill: orange;
}
