.container {
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
}

.movies {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 0;
}

.title {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.movie {
    display: flex;
    color: white;
    gap: 24px;
}

.poster {
    width: 150px;
    height: 225px;
    object-fit: cover;
}

.movieDetails {
    display: flex;
    flex-direction: column;
    padding: 4.5px 0 4.5px 24px;
    gap: 13px;
}

.movieName {
    font-size: 25px;
    padding-bottom: 5px;
    font-weight: 600;
}

.genreList {
    display: flex;
    gap: 8px;
}

.genreItem {
    font-size: 12px;
    border: 1px solid white;
    padding: 4px 8px;
    border-radius: 15px;
}

.rating {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.overview {
    opacity: 0.8;
    line-height: 1.5;
    max-width: 800px;
}

.movieButtons {
    display: flex;
    gap: 13px;
}

.btnWhite {
    font-size: 16px;
    background-color: white;
    border-radius: 36px;
    padding: 6px 12px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

.btnWhite:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.363);
}

.btnDark {
    font-size: 16px;
    background-color: #202020;
    border: 1px solid white;
    color: white;
    border-radius: 36px;
    padding: 6px 12px;
    cursor: pointer;
    transition: 0.2s;
}

.btnDark:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.363);
}

.pagination {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pageButton {
    background-color: #f5a302;
    border: none;
    padding: 10px 18px;
    border-radius: 12px;
    color: #1a1a1a;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.pageButtonOne {
    padding: 10px 19.3px;
}

.pageButton:disabled {
    background-color: #b8b8b8;
    cursor: not-allowed;
    opacity: 0.6;
}

.pageButton:hover {
    background-color: #ffbd34;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(255, 193, 7, 0.4);
}

.pageNumber {
    background-color: #f5a302;
    padding: 10px 18px;
    border-radius: 12px;
    color: #1a1a1a;
    font-weight: 600;
    font-size: 14px;
}

.sortButtons {
    display: flex;
    gap: 10px;
}

.sortBtn {
    background: #222;
    color: white;
    border: 1px solid #555;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.sortBtn:hover {
    background: #333;
}
